<h1>Welcome</h1>

<% if current_user %>
  <h2 data-controller="user">
    <%= current_user.username %>
    <%= link_to "Follow", "#", class: "btn btn-secondary btn-medium",
                               data: { action: "user#follow",
                                       user: current_user.id,
                                       target: "user.followButton" } %>
  </h2>
  <%= link_to "Log out", destroy_user_session_path, method: :delete, 
                         data: { confirm: "Are you sure?" } %>
<% else %>
  <%= link_to "Sign up", new_user_registration_path %>
  <%= link_to "Log In", new_user_session_path %>
<% end %>

